*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#titulo-tienda{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}
.container{
    align-items: center;
    width: 1400px;
    margin: auto;
}
.ver-productos{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.carta-producto{
    margin-top: 10px;
    position: relative;
    max-width: 355px;
    width: 100%;
    margin-left: 50px;
    border-radius: 25px;
    padding: 20px 30px 30px 27px;
    background: #fff;
    /* z-index: 1; */
    overflow: hidden; 
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}
.carta-producto:hover{
    transform: scale(1.01);
}

.carta-producto .logo-carta i:hover{
    color: #333;
}
.carta-producto .imagen-producto{
    position: relative;
    height: 300px;
}
.carta-producto .imagen-producto img{
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* z-index: -1; */
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.carta-producto .imagen-producto img.active{
    opacity: 1;
}
.carta-producto .producto-detalles .nombre-producto{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}
.carta-producto .producto-detalles p{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
}
.carta-producto .producto-detalles .link-gastos-de-envio{
    text-decoration: none;
    color: #333;
}
.carta-producto .producto-detalles .link-gastos-de-envio:hover{
    text-decoration: underline;
}
.carta-producto .color-producto .color-opcion{
    display: flex;
    align-items: center;
}
.color-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color-producto .color-opcion .color{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
}

.color-producto .precio{
    display: flex;
    flex-direction: column;
}
.color-producto .precio .precio_oferta{
    font-size: 25px;
    font-weight: 600;
    color: #333;
}
.color-producto .precio .precio_num{
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
    margin-top: -4px;
    color: #707070;
}
.carta-producto .boton{
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
}
.carta-producto .boton .boton-pantalla{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #0A58CA, rgb(221, 221, 221) , #0A58CA, rgb(221, 221, 221));
    transition: all 0.4s ease;
    border-radius: 25px;
}
.carta-producto .boton:hover .boton-pantalla{
    left: 0;
}
.carta-producto .boton button{
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.sin-inventario{
    cursor: none;
}
.carta-producto .boton .boton-pantalla .sin-inventario{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, red, rgb(221, 221, 221) , red, rgb(221, 221, 221));
    transition: all 0.4s ease;
    border-radius: 25px;
}