<h1 id="titulo-contacto">Contáctanos</h1>
<div class="body">
    <div class="container">
        <div class="contenido">
            <div class="lado-izq">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">WhatsApp</div>
                    <div class="text-one"><a href="https://bit.ly/3kb1YvD">Link</a></div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Número de Celular</div>
                    <div class="text-one">+57 3143647814</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Correo Electronico</div>
                    <div class="text-one"><a href="mailto:contacto@miproductoya.com?Subject=Hola,%20estoy%20interesad@%20en%20alguno%20de%20sus%20productos.%20Tengo%20unas%20preguntas.">Contactar por correo</a></div>
                </div>
            </div>
            <div class="lado-der">
                <div class="topic-text">Envianos un mensaje</div>
                <form>
                    <div class="input-box">
                        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" required>
                    </div>
                    <div class="input-box">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electronico" required>
                    </div>
                    <div class="input-box message-box">
                        <textarea class="form-control" id="inputMensaje" placeholder="Mensaje..." required></textarea>
                    </div>
                    <div class="button">
                        <button class="btn btn-outline-primary" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>