<div class="container">
    <h1>Preguntas Frecuentes</h1>
    <br>
    <h5>¿Cómo es el proceso de compra?</h5>
    <br>
    <p>
        El pedido se debe realizar en la tienda en línea MiProductoYa.com. Para ello:
    </p>
    <br>
    <ul>
        <li>Se seleccionan los productos, agregándolos al carrito de compras.</li>
        <li>Se diligencian los datos de envío.</li>
        <li>Se elige el método de pago.</li>
        <li>Se espera a que se realice al entrega de los productos.</li>
    </ul>
    <br>
    <h5>¿Qué medios de pago manejan?</h5>
    <br>
    <p>
        Manejamos pasarela de pagos de OpenPay, que permite pagos con:
    </p>
    <br>
    <ul>
        <li>Tarjeta de Crédito (Visa y Mater)</li>
        <li>Transferencia por PSE (casi todos los bancos, incluido Nequi y Daviplata).</li>
    </ul>
    <br>
    <p>
        También tenemos cobertura de pago contraentrega (efectivo y transferencia nequi o daviplata) en Bogotá y Sabana. Este método de pago puede ser deshabilitado sin previo aviso.
    </p>
    <br>
    <h5>¿Qué cobertura de envío manejan?</h5>
    <br>
    <p>
        Enviamos a todo Colombia.
    </p>
    <br>
    <h5>¿Cuánto vale el envío?</h5>
    <br>
    <p>
        Si el pago se realiza online, el envío es gratis para cualquier monto y cualquier destino. Está sujeto a cambios sin previo aviso.
        <br>
        Si el pago se realiza contranetrega (disponible sólo en Bogotá), el envío tiene un costo de 10.000 pesos.
    </p>
    <br>
    <h5>¿Cuál es el tiempo de entrega?</h5>
    <br>
    <p>
        Para Bogotá, el tiempo de entrega es de 1 día hábil (contando sábados).
        <br>
        Para el resto del país, el tiempo de entrega es de 2 a 5 días hábiles.
        <br>
        * No nos es posible especificar horas de llegada. La entrega puede realizarse desde las 10am hasta las 6pm del día.
    </p>
    <br>
    <h5>¿Qué garantía manejan los productos?</h5>
    <br>
    <p>
        Todos nuestros productos cuentan con garantía de 3 meses.
    </p>
    <br>
    <h5>¿Realizan factura electrónica?</h5>
    <br>
    <p>
        Si facturamos bajo la razón social de Abastecedor Colombiano de Tejas y Drywall SAS NIT: 900189945-1.
    </p>
</div>