<div class="container">
    <h1>Política de envío</h1>
    <br>
    <p>
        MiProductoYa.com (“nosotros”) es el responsable de la página (miproductoya.com). Cuando haces un pedido en nuestra página, estás accediendo a los términos enunciados acá abajo. Esto con el fin de reducir el número de incidentes y malentendidos posibles en nuestra relación cliente – empresa, y protegernos mutuamente.
    </p>
    <br>
    <h5>1. General</h5>
    <br>
    <p>
        Estamos sujetos a disponibilidad de inventario y de tráfico. Procuramos mantener actualizadas las cantidades y productos ofrecidos, de tal manera que cumplamos con todas tus expectativas. Si nos es imposible cumplir a plenitud tu pedido, te notificaremos y buscaremos llegar a una solución. De lo contrario, haremos la devolución completa de tu pedido de manera inmediata.
    </p>
    <br>
    <h5>2. Costos de Envío</h5>
    <br>
    <p>
        El envío es completamente gratis en Bogotá, sin importar la ubicación y el valor total del pedido. Bajo ninguna circunstancia cobraremos el envío. 
        En el resto de Colombia tendrá un costo de 9,900. Cuando el pedido es superior a los 100,000 COP, el costo de envío será gratis.
    </p>
    <br>
    <h5>3. Tiempos de envío</h5>
    <br>
    <p>
        En todos los casos, el envío tendrá un tiempo de llegada entre los 1 y 5 días hábiles desde el momento de la compra. Si el tiempo de entrega ha superado el tiempo previsto, por favor, póngase en contacto con nosotros para que podamos llevar a cabo una investigación.
    </p>
    <br>
    <h5>4. Devoluciones</h5>
    <br>
    <p>
        Haremos la devolución completa de tu pedido en caso de que llegue dañado, desgastado o con algún problema de funcionamiento. De ser así, esperaremos la solicitud de devolución y empezaremos el proceso respectivo. No haremos devolución si cambias de opinión o si tu percepción del producto cambia.
        <br>
        Nuestra política dura 90 días. Si han pasado 90 días desde que recibiste tu compra, desafortunadamente no podemos ofrecerte un reembolso, a pesar de que el producto esté nuevo y sellado.
        <br>
        Pueden pasar hasta 7 días hábiles antes de que se procesen las devoluciones.
        <br>
        Si está enviando un pedido por un valor superior a $200,000 COP, debe considerar la posibilidad de utilizar un servicio de envío con seguimiento o de comprar un seguro de envío. No garantizamos que recibiremos su artículo devuelto.
    </p>
    <br>
    <h5>5. Reembolsos</h5>
    <br>
    <p>
        Una vez recibido e inspeccionado su caso, le enviaremos un correo electrónico para notificarle que hemos aprobado su solicitud. También le notificaremos de la aprobación o rechazo de su reembolso.
        <br>
        Si aún no ha recibido un reembolso, primero compruebe su cuenta bancaria de nuevo. A continuación, póngase en contacto con la compañía de su tarjeta de crédito, puede tardar algún tiempo antes de que su reembolso se publique oficialmente. A continuación, póngase en contacto con su banco. A menudo hay algún tiempo de procesamiento antes de que se contabilice un reembolso. Si usted ha hecho todo esto y todavía no ha recibido su reembolso, por favor contáctenos a contacto@miproductoya.com.
        <br>
        Sólo los artículos de precio regular pueden ser reembolsados, desafortunadamente los artículos en descuento no pueden ser reembolsados.
    </p>
    <br>
    <h5>6. Impuestos</h5>
    <br>
    <p>
        El IVA ya se ha aplicado al precio de las mercancías tal como se visualiza en el sitio.
    </p>
    <br>
    <h5>7. Dudas o inquietudes</h5>
    <br>
    <p>
        Cualquier duda, pregunta o inquietud que tengas, no dudes en escribirnos. Con gusto te atenderemos. Recuerda que todos los mensajes en relación con tu pedido serán atendidos a través de contacto@miproductoya.com.
    </p>
</div>