<div class="container">
    <h1 id="titulo-inicio">Nuestros Productos</h1>
    <div class="carrusel">
        <iframe id="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ul class="navegacion-videos">
            <li><img id="video1" class="imagen-video" src="assets/img/video1.png" alt="video 1"></li>
            <li><img id="video2" class="imagen-video" src="assets/img/video2.png" alt="video 2"></li>
        </ul>
    </div>
    <h1 id="titulo-testimonios">Testimonios</h1>
    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
          <div class="cards">
            <div class="card">
             <div class="content">
               <div class="img">
                <i class="fas fa-quote-left"></i>
               </div>
               <div class="details">
                 <div class="name">Andrew Neil</div>
                 <p>No volví a santir los dolores de espalda asociados a la mala postura, ahora siempre lo uso al trabajar.</p>
               </div>
             </div>
            </div>
            <div class="card">
             <div class="content">
               <div class="img">
                <i class="fas fa-quote-left"></i>
               </div>
               <div class="details">
                 <div class="name">Justin Chung</div>
                 <p>La facilidad de trasnportar el porducto es maravillosa, lo llevo a cuaquier luegar donde trabajo.</p>
               </div>
             </div>
            </div>
          </div>
          <div class="cards">
            <div class="card">
             <div class="content">
               <div class="img">
                <i class="fas fa-quote-left"></i>
               </div>
               <div class="details">
                 <div class="name">Appolo Reef</div>
                 <p>Cuando lo usé, me di cuenta que toda la vida había trabajado mal. La comodidad al trabajar es estupenda.</p>
               </div>
             </div>
            </div>
            <div class="card">
             <div class="content">
               <div class="img">
                <i class="fas fa-quote-left"></i>
               </div>
               <div class="details">
                 <div class="name">Nicole Lewis</div>
                 <p>Es un producto primordial para trabajar, además de ser elegante y duradero.</p>
               </div>
             </div>
            </div>
          </div>
        </div>
        <div class="button">
          <label for="one" class=" active one"></label>
          <label for="two" class="two"></label>
        </div>
      </div>
</div>

